<div class="jumbotron">
    <center>
        <h1>404-未找到页面</h1><br>
        <h3>试试别的地址？</h3>
    </center><br><br>
    <center>
        <a class="btn btn-lg btn-success" href="/board/">
            朕知道了
        </a>
    </center>
</div>
