<div class="jumbotron">
    <center>
        <h1>404-未找到页面</h1><br>
        <h2>您访问的功能可能还在制作中</h2>
        <h2>试试别的地址？</h2>
    </center><br><br>
    <center>
        <a class="btn btn-lg btn-success" href="/board/">
            朕知道了
        </a>
    </center>
</div>
