<div class="jumbotron">
    <center>
        <h2>徐家麒的个人主页</h2></center><br><br><br>
    <center>
        <a class="btn btn-lg btn-success" href="/blog/">
            进入博客
        </a>
    </center>
</div>
