<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="img/main-icon.png">
	<link rel="stylesheet" href="css/index.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/jsonp.css" media="screen" title="no title" charset="utf-8">
	<script src="js/jquery-1.7.2.js" charset="utf-8"></script>
	<script src="js/index.js" charset="utf-8"></script>
	<title>Node.js + MySQL留言板</title>
</head>
<body>
	<div class="confirm-bar">留言成功</div>
	<div class="headbar">
		JSONP接口定制服务
	</div>
	<div id="jsonp-zone">
		&#x3000;&#x3000;欢迎来到JSONP接口定制频道！
	</div>
	{{{body}}}
	<div class="power">
		<a href="mailto:xujiaqi0830@outlook.com">Powered By Xujiaqi</a>
	</div>
</body>
</html>
