<span>标题</span>
<input class="blog-input-title" type="text" name="name" value="">
<span>分类<span>
<input class="blog-input-tag" type="text" name="name" value="">
<span>简介</span>
<textarea class="blog-input-brief" name="name" rows="8" cols="40"></textarea>
<span>正文</span>
<textarea class="blog-input-text" name="name" rows="8" cols="40"></textarea>
<span>密码<span>
<input class="blog-input-pw" type="text" name="name" value="">

<button class="blog-post" type="comfirm" name="button">提交</button>
