<div class="container">
    <div class="jumbotron">
        <h3>建站目的：</h3>
        <center>
            <h1>世界和平</h1></center><br><br><br>
        <center>
            <a class="btn btn-lg btn-success" href="javascript:;" role="button" title="做出贡献" data-toggle="popover" data-placement="bottom" data-content="点击按钮，做出神秘的贡献" data-container="body" data-trigger="hover">
            续一秒
        </a>
        </center>
    </div>
</div>
